
body {
    margin: 0;
    background-color: rgb(128, 57, 55);
}

.head {
    color: rgb(79, 24, 23);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 5px;
    background-color: rgb(232, 210, 193);
    width: 50vh;
    left: 87vh;
    border-radius: 5px;
    padding: 15px;
}

.project {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 5px;
    background-color: rgb(232, 210, 193);
    width: 50vh;
    height: 50vh;
    left: 87vh;
    border-radius: 5px;
    padding: 15px;
}
