@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Workbench&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}


body {
    margin: 0;
    background-color: #5D6D7E;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: white;
}

.container h1 {
    color: white;
}

.container h2 {
    color: white;
}

.container h3 a {
    color: white;
    text-decoration: none;

}

.head {
    font-size: 16px;
}

.project-breakout {
    padding: 21px;
}

.project-insect {
    padding: 21px;
}

.project-hangman {
    padding: 21px;
}

.project-typing {
    padding: 21px;
}

.breakout .circle-btn {
    position: absolute;
    background-color: #5D6D7E;
    color: white;
    border: 0;
    left: 500px;
    top: 200px;
    cursor: pointer;
    transition: transform 3s ease;
}

.insect .bug-btn {
    position: absolute;
    background-color: #5D6D7E;
    color: white;
    border: 0;
    left: 500px;
    top: 280px;
    cursor: pointer;
    transition: transform 3s ease;
}

.hangman .man-btn {
    position: absolute;
    background-color: #5D6D7E;
    color: white;
    border: 0;
    left: 500px;
    top: 360px;
    cursor: pointer;
    transition: transform 3s ease;
}

.typing .keyboard-btn {
    position: absolute;
    background-color: #5D6D7E;
    color: white;
    border: 0;
    left: 498px;
    top: 440px;
    cursor: pointer;
    transition: transform 3s ease;
}
