@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Workbench&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}


body {
    margin: 0;
    background-color: #5D6D7E;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: white;
    background-color: #718396;
    padding: 10px;
}

.logo a:hover {
    color: #d3e0ed;
}

.container h1 {
    color: white;
}

.container h2 {
    color: white;
}

.container h3 a {
    text-decoration: none;
    color: white;

}

.head {
    font-size: 21px;
    text-decoration: underline;
}

.project-breakout {
    padding: 22px;
}

.project-insect {
    padding: 22px;
}

.project-hangman {
    padding: 22px;
}

.project-typing {
    padding: 22px;
}

.project-breakout a:hover {
    color: #d3e0ed;
}

.project-insect a:hover {
    color: #d3e0ed;
}

.project-hangman a:hover {
    color: #d3e0ed;
}

.project-typing a:hover {
    color: #d3e0ed;
}

.breakout .circle-btn {
    position: absolute;
    background-color: #5D6D7E;
    color: white;
    border: 0;
    width: 160px;
    left: 600px;
    top: 200px;
    cursor: pointer;
    transition: transform 3s ease;
}

.insect .bug-btn {
    position: absolute;
    background-color: #5D6D7E;
    color: white;
    border: 0;
    width: 120px;
    left: 620px;
    top: 280px;
    cursor: pointer;
    transition: transform 3s ease;
}

.hangman .man-btn {
    position: absolute;
    background-color: #5D6D7E;
    color: white;
    border: 0;
    width: 210px;
    left: 575px;
    top: 360px;
    cursor: pointer;
    transition: transform 3s ease;
}

.typing .keyboard-btn {
    position: absolute;
    background-color: #5D6D7E;
    color: white;
    border: 0;
    width: 210px;
    left: 575px;
    top: 440px;
    cursor: pointer;
    transition: transform 3s ease;
}

.breakout.active .circle-btn {
    transform: translateX(-220px);
}

.insect.active .bug-btn {
    transform: translateX(-220px);
}

.hangman.active .man-btn {
    transform: translateX(-220px);
}

.typing.active .keyboard-btn {
    transform: translateX(-220px);
}

.container.active h3 a {
    color: white;
}

.breakout .circle-btn:hover {
    color: #dfeaf5;
}

.insect .bug-btn:hover {
    color: #dfeaf5;
}
.hangman .man-btn:hover {
    color: #dfeaf5;
}
.typing .keyboard-btn:hover {
    color: #dfeaf5;
}
